.navigation {
    height: 100%;
    width: 58px;
    position: fixed;
    /* background-color: #4b4c86; */
    background-color: #0f0f0f00;
    /* box-shadow: 7px 0 0 #717171; */
    border-left: 5px solid #0f0f0f00;
    overflow-x: hidden;
    transition: all 0.5s;
    white-space: nowrap;
    top: 0px;
    left: 0px;
    z-index: 10;
    transform: scale(1);
}

.navigation:hover {
    width: 300px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-left: 5px;
}

.navigation ul li {
    list-style: none;
    display: block;
    width: 100%;
    position: relative;
    border-radius: 15px;
}


.navigation ul li:hover {
    background-color: #60606079;
}

.navigation ul li.active {
    background-color: #848484;
}

.navigation ul li a {
    color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    position: relative;

}

.icons {
    display: block;
    color: rgb(255, 255, 255);
    min-width: 43px;
    height: 60px;
    line-height: 70px;
    text-align: center;
    font-size: 1.7rem;
}

.title {
    padding-left: 10px;
    height: 60px;
    line-height: 60px;

}

@media (max-width: 768px) {
    .navigation {
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none;
        border-left: none;
    }

    .navigation:hover {
        width: 58px;
    }

    .navigation ul {
        padding-top: 10vh;
    }

    .navigation ul li {
        margin-top: 20px;
    }

    .navigation ul li.active {
        background-color: rgba(255, 255, 255, 0);
    }

    .navigation ul li:hover {
        background-color: #96969679;
    }

    .icons {
        min-width: 50px;
    }

    .title {
        padding-left: 30px;
        height: 60px;
        line-height: 60px;
    }
}