.allContainer {
    background-color: #0f0f0f;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.header {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    height: 10%;
    z-index: 2;
    transform: translateY(-20%);
    font-family: 'Courier New', Courier, monospace;
    margin-left: 40px;
    text-align: center;
}

.loading {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.resultContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.resultContainer video {
    border-radius: 20px;
    margin-left: 20vw;
    margin-right: 10vw;
    margin-top: 10vw;
    margin-bottom: 2vw;
    aspect-ratio: auto;
}

.result {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-left: 40vw;
    margin-right: 10vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.result p {
    font-weight: bold;
    text-align: center;
    font-size: 1.5vw;

}

.nonVideo {
    font-weight: bold;
    color: aliceblue;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
}

@media (max-width: 768px) {
    .header {
        margin-left: 0;
    }

    .result p {
        font-size: 10px;
    }

    .resultContainer video {
        margin-top: 15vw;
    }
}


@media (max-width: 500px) {
    .result {
        margin-left: 30vw;
    }

    .resultContainer video {
        margin-top: 20vw;
    }
}